body {
  font: 12pt Verdana, Helvetica, sans-serif;
  color: #7d7d7d;
  background-color: #ececec;
  margin: 0px;
  
}

.login-container {
	margin: 5em auto;
	width: 450px;
	margin-top: 100;
}

label.error {
	font-size: 10pt;
	color: #ff0000;
}

label.info {
	font-size: 10pt;
	color: #000000;
}

input.login-input {
	font-size: 18pt;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
}

input.submit {
    -moz-border-radius: 11px 11px 11px 11px;
    -moz-box-sizing: content-box;
    background: url("images/white-grad.png") repeat-x scroll left top #F2F2F2;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12pt !important;
    line-height: 13px;
    padding: 6px 12px;
    text-decoration: none;
    color: #555555;
}
	

p.login a {
	color: #0088aa;
	font-size: 11px;
}

div#dashboard-menu a {
	color: #0088aa;
}

table.round {	
	-moz-border-radius: 11px 11px 11px 11px;
    -moz-box-shadow: 0 4px 18px #C8C8C8;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    font-weight: normal;
    margin-left: 8px;
    padding: 16px 16px 20px;    
}

table.round td {
	padding:10px; 
}


h1#login-logo a {
    background: url("images/logo-big.png") no-repeat scroll center top transparent;
    display: block;
    height: 64px;
    overflow: hidden;
    padding-bottom: 10px;
    text-indent: -9999px;
    width: 400px;
}

h1#signup-logo a {
    background: url("images/logo-big.png") no-repeat scroll center top transparent;
    display: block;
    height: 64px;
    overflow: hidden;
    padding-bottom: 10px;
    text-indent: -9999px;
    width: 500px;
}

h1#signup-logo a {
    background: url("images/logo-big.png") no-repeat scroll center top transparent;
    display: block;
    height: 64px;
    overflow: hidden;
    padding-bottom: 10px;
    text-indent: -9999px;
    width: 500px;
}

h1.dashboard-text {
    background: url("images/logo-big.png")  no-repeat scroll 0 0 transparent;
    display: block;
    height: 64px;
    overflow: hidden;
    padding-bottom: 10px;
    text-indent: -9999px;
    width: 500px;
}

div#dashboard-header {
	background: url("images/logo-mid.png")  no-repeat scroll 0 0 transparent;
    display: block;
    height: 64px;
    overflow: hidden;
    padding-bottom: 5px;
    text-indent: -9999px;
    width: 500px;
    margin-left: 10px;
}

div#dashboard-menu {
	text-align: right;
	font-size: 12px;	
	margin-right: 10px;
    margin-top: 5px;
}    

div#header {
	background: #f9f9f9;
	margin: 0;
}

#nav-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-menu li {
	float: left;
}

#nav-menu li a {
	background: #cccccc bottom left repeat-x;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 7em;
	display: block;
	color: #4d4d4d;
	text-decoration: none;
	text-align: center;
}

#nav-menu li a:hover {
	background: #aaaaaa bottom left repeat-x;
	color: #000000;
}

div#nav-menu ul li.selected a {
	color: #000000;
	font-weight:bold;
}


/* Hide from IE5-Mac \*/
#nav-menu li a {
	float: none
}
/* End hide */

div#nav-menu {
	background: #cccccc;
	height: 2em;
} 
